openapi: 3.2.0
info:
  title: Alleva Rest Medications API
  version: '1.0'
security:
- Bearer: []
tags:
- name: Medications
paths:
  /medications:
    get:
      tags:
      - Medications
      parameters:
      - name: Limit
        in: query
        schema:
          type: integer
          format: int64
      - name: Cursor
        in: query
        schema:
          type: integer
          format: int32
      - name: StartDate
        in: query
        schema:
          type: string
          format: date-time
      - name: EndDate
        in: query
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        schema:
          type: array
          items:
            type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationData'
            application/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationData'
            text/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationData'
  /v{version}/medications:
    get:
      tags:
      - Medications
      parameters:
      - name: Limit
        in: query
        schema:
          type: integer
          format: int64
      - name: Cursor
        in: query
        schema:
          type: integer
          format: int32
      - name: StartDate
        in: query
        schema:
          type: string
          format: date-time
      - name: EndDate
        in: query
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        schema:
          type: array
          items:
            type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationData'
            application/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationData'
            text/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationData'
  /medications/{id}:
    get:
      tags:
      - Medications
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                $ref: '#/components/schemas/MedicationData'
            application/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/MedicationData'
            text/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/MedicationData'
  /v{version}/medications/{id}:
    get:
      tags:
      - Medications
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                $ref: '#/components/schemas/MedicationData'
            application/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/MedicationData'
            text/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/MedicationData'
components:
  schemas:
    MedicationData:
      type: object
      properties:
        id:
          type: integer
          format: int32
        href:
          type:
          - string
          - 'null'
          readOnly: true
        medication:
          type:
          - string
          - 'null'
        medicationType:
          type:
          - string
          - 'null'
        dosage:
          type:
          - string
          - 'null'
        frequency:
          type:
          - string
          - 'null'
        isPrnMeds:
          type:
          - string
          - 'null'
        instructions:
          type:
          - string
          - 'null'
        prescriber:
          type:
          - string
          - 'null'
        status:
          type: boolean
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: "JWT Authorization header using the Bearer scheme. \n\n Enter Bearer [space] and then\
        \ your token in the text input below.\n\nExample: Bearer 12345abcdef"
      name: Authorization
      in: header
servers:
- url: https://api.helloalleva.com
  description: Base URL reconciled from apis.yml
