openapi: 3.2.0
info:
  title: Alleva Rest Advanced Form Element API
  version: '1.0'
security:
- Bearer: []
tags:
- name: AdvancedFormElement
paths:
  /advanced-form-elements:
    get:
      tags:
      - AdvancedFormElement
      parameters:
      - name: advancedFormId
        in: query
        schema:
          type: integer
          format: int32
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdvancedFormElement'
            application/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdvancedFormElement'
            text/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdvancedFormElement'
  /v{version}/advanced-form-elements:
    get:
      tags:
      - AdvancedFormElement
      parameters:
      - name: advancedFormId
        in: query
        schema:
          type: integer
          format: int32
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdvancedFormElement'
            application/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdvancedFormElement'
            text/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdvancedFormElement'
components:
  schemas:
    AdvancedFormElement:
      type: object
      properties:
        id:
          type: integer
          format: int64
        isDeleted:
          type: boolean
        deletedDate:
          type:
          - string
          - 'null'
          format: date-time
        deletedBy:
          type:
          - integer
          - 'null'
          format: int32
        updatedBy:
          type:
          - integer
          - 'null'
          format: int32
        updateDate:
          type:
          - string
          - 'null'
          format: date-time
        createdBy:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        advancedFormId:
          type: integer
          format: int64
        index:
          type:
          - integer
          - 'null'
          format: int32
        dataFacetId:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: "JWT Authorization header using the Bearer scheme. \n\n Enter Bearer [space] and then\
        \ your token in the text input below.\n\nExample: Bearer 12345abcdef"
      name: Authorization
      in: header
servers:
- url: https://api.helloalleva.com
  description: Base URL reconciled from apis.yml
