openapi: 3.2.0
info:
  title: Alleva Rest Data Facet API
  version: '1.0'
security:
- Bearer: []
tags:
- name: DataFacet
paths:
  /data-facets/search:
    post:
      tags:
      - DataFacet
      parameters:
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json; ver=1.0:
            schema:
              type: array
              items:
                type: integer
                format: int32
          application/json; ver=1.0:
            schema:
              type: array
              items:
                type: integer
                format: int32
          text/json; ver=1.0:
            schema:
              type: array
              items:
                type: integer
                format: int32
          application/*+json; ver=1.0:
            schema:
              type: array
              items:
                type: integer
                format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataFacet'
            application/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataFacet'
            text/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataFacet'
  /v{version}/data-facets/search:
    post:
      tags:
      - DataFacet
      parameters:
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json; ver=1.0:
            schema:
              type: array
              items:
                type: integer
                format: int32
          application/json; ver=1.0:
            schema:
              type: array
              items:
                type: integer
                format: int32
          text/json; ver=1.0:
            schema:
              type: array
              items:
                type: integer
                format: int32
          application/*+json; ver=1.0:
            schema:
              type: array
              items:
                type: integer
                format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataFacet'
            application/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataFacet'
            text/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataFacet'
components:
  schemas:
    DataFacet:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type:
          - string
          - 'null'
        shortName:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        isSharable:
          type: boolean
        isCalculable:
          type: boolean
        isDraft:
          type: boolean
        path:
          type:
          - string
          - 'null'
        calculableExpression:
          type:
          - string
          - 'null'
        isEditableByOtherForms:
          type: boolean
        modifiedByUserId:
          type: integer
          format: int64
        modifiedDateUtc:
          type: string
          format: date-time
        assignedTags:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
        dataKind:
          $ref: '#/components/schemas/DataKind'
        scopeKind:
          $ref: '#/components/schemas/DataScopeKind'
        originatingFormId:
          type: integer
          format: int32
        uuid:
          type: string
          format: uuid
        createdByUserId:
          type: integer
          format: int32
        createdDateUtc:
          type: string
          format: date-time
        isReadOnly:
          type: boolean
        isBuiltIn:
          type: boolean
      additionalProperties: false
    DataKind:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      type: integer
      format: int32
    DataScopeKind:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      type: integer
      format: int32
  securitySchemes:
    Bearer:
      type: apiKey
      description: "JWT Authorization header using the Bearer scheme. \n\n Enter Bearer [space] and then\
        \ your token in the text input below.\n\nExample: Bearer 12345abcdef"
      name: Authorization
      in: header
servers:
- url: https://api.helloalleva.com
  description: Base URL reconciled from apis.yml
