openapi: 3.2.0
info:
  title: Alleva Rest Discharge Plan API
  version: '1.0'
security:
- Bearer: []
tags:
- name: DischargePlan
paths:
  /discharge-plan:
    get:
      tags:
      - DischargePlan
      parameters:
      - name: Limit
        in: query
        schema:
          type: integer
          format: int64
      - name: Cursor
        in: query
        schema:
          type: integer
          format: int32
      - name: StartDate
        in: query
        schema:
          type: string
          format: date-time
      - name: EndDate
        in: query
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        schema:
          type: array
          items:
            type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DischargePlan'
            application/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DischargePlan'
            text/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DischargePlan'
  /v{version}/discharge-plan:
    get:
      tags:
      - DischargePlan
      parameters:
      - name: Limit
        in: query
        schema:
          type: integer
          format: int64
      - name: Cursor
        in: query
        schema:
          type: integer
          format: int32
      - name: StartDate
        in: query
        schema:
          type: string
          format: date-time
      - name: EndDate
        in: query
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        schema:
          type: array
          items:
            type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DischargePlan'
            application/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DischargePlan'
            text/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DischargePlan'
  /discharge-plan/{id}:
    get:
      tags:
      - DischargePlan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                $ref: '#/components/schemas/DischargePlan'
            application/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/DischargePlan'
            text/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/DischargePlan'
  /v{version}/discharge-plan/{id}:
    get:
      tags:
      - DischargePlan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                $ref: '#/components/schemas/DischargePlan'
            application/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/DischargePlan'
            text/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/DischargePlan'
components:
  schemas:
    DischargePlan:
      type: object
      properties:
        id:
          type: integer
          format: int32
        href:
          type:
          - string
          - 'null'
          readOnly: true
        dischargePlanId:
          type: integer
          format: int64
        leadId:
          type: integer
          format: int64
        reasonForAdmission:
          type:
          - string
          - 'null'
        changesInDiagnosis:
          type:
          - string
          - 'null'
        strengths:
          type:
          - string
          - 'null'
        needs:
          type:
          - string
          - 'null'
        abilities:
          type:
          - string
          - 'null'
        preferences:
          type:
          - string
          - 'null'
        anticipatedDischargeDate:
          type:
          - string
          - 'null'
          format: date-time
        reasonForDischarge:
          type:
          - string
          - 'null'
        conditionOnDischarge:
          type:
          - string
          - 'null'
        dischargeTransitionObstacles:
          type:
          - string
          - 'null'
        guardianParticipationInTreatment:
          type:
          - string
          - 'null'
        criticalEventsNInteraction:
          type:
          - string
          - 'null'
        prognosis:
          type:
          - string
          - 'null'
        recommendations:
          type:
          - string
          - 'null'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        isDeleted:
          type:
          - string
          - 'null'
        deletedDate:
          type:
          - string
          - 'null'
          format: date-time
        validFrom:
          type:
          - string
          - 'null'
          format: date-time
        validTo:
          type:
          - string
          - 'null'
          format: date-time
        summaryOfTreatmentGoals:
          type:
          - string
          - 'null'
        isActive:
          type:
          - string
          - 'null'
        livigArrangements:
          type:
          - string
          - 'null'
        education:
          type:
          - string
          - 'null'
        serviceProvided:
          type:
          - string
          - 'null'
        isCompleted:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: "JWT Authorization header using the Bearer scheme. \n\n Enter Bearer [space] and then\
        \ your token in the text input below.\n\nExample: Bearer 12345abcdef"
      name: Authorization
      in: header
servers:
- url: https://api.helloalleva.com
  description: Base URL reconciled from apis.yml
