openapi: 3.2.0
info:
  title: Alleva Rest Advanced Form Data Backup API
  version: '1.0'
security:
- Bearer: []
tags:
- name: AdvancedFormDataBackup
paths:
  /advanced-forms/data-backup:
    post:
      tags:
      - AdvancedFormDataBackup
      parameters:
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json; ver=1.0:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AdvancedFormDataBackup'
          application/json; ver=1.0:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AdvancedFormDataBackup'
          text/json; ver=1.0:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AdvancedFormDataBackup'
          application/*+json; ver=1.0:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AdvancedFormDataBackup'
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: boolean
            application/json; ver=1.0:
              schema:
                type: boolean
            text/json; ver=1.0:
              schema:
                type: boolean
  /v{version}/advanced-forms/data-backup:
    post:
      tags:
      - AdvancedFormDataBackup
      parameters:
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json; ver=1.0:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AdvancedFormDataBackup'
          application/json; ver=1.0:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AdvancedFormDataBackup'
          text/json; ver=1.0:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AdvancedFormDataBackup'
          application/*+json; ver=1.0:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AdvancedFormDataBackup'
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: boolean
            application/json; ver=1.0:
              schema:
                type: boolean
            text/json; ver=1.0:
              schema:
                type: boolean
components:
  schemas:
    AdvancedFormDataBackup:
      type: object
      properties:
        advancedFormId:
          type: integer
          format: int32
        advancedFormInstanceId:
          type: integer
          format: int32
        createdDate:
          type: string
          format: date-time
        leadId:
          type: integer
          format: int32
        uuid:
          type: string
          format: uuid
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: "JWT Authorization header using the Bearer scheme. \n\n Enter Bearer [space] and then\
        \ your token in the text input below.\n\nExample: Bearer 12345abcdef"
      name: Authorization
      in: header
servers:
- url: https://api.helloalleva.com
  description: Base URL reconciled from apis.yml
