openapi: 3.2.0
info:
  title: Alleva Rest Incident Report API
  version: '1.0'
security:
- Bearer: []
tags:
- name: IncidentReport
paths:
  /incident-report:
    get:
      tags:
      - IncidentReport
      parameters:
      - name: Limit
        in: query
        schema:
          type: integer
          format: int64
      - name: Cursor
        in: query
        schema:
          type: integer
          format: int32
      - name: StartDate
        in: query
        schema:
          type: string
          format: date-time
      - name: EndDate
        in: query
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        schema:
          type: array
          items:
            type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncidentReport'
            application/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncidentReport'
            text/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncidentReport'
  /v{version}/incident-report:
    get:
      tags:
      - IncidentReport
      parameters:
      - name: Limit
        in: query
        schema:
          type: integer
          format: int64
      - name: Cursor
        in: query
        schema:
          type: integer
          format: int32
      - name: StartDate
        in: query
        schema:
          type: string
          format: date-time
      - name: EndDate
        in: query
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        schema:
          type: array
          items:
            type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncidentReport'
            application/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncidentReport'
            text/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncidentReport'
  /incident-report/{id}:
    get:
      tags:
      - IncidentReport
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                $ref: '#/components/schemas/IncidentReport'
            application/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/IncidentReport'
            text/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/IncidentReport'
  /v{version}/incident-report/{id}:
    get:
      tags:
      - IncidentReport
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                $ref: '#/components/schemas/IncidentReport'
            application/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/IncidentReport'
            text/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/IncidentReport'
components:
  schemas:
    Signature:
      type: object
      properties:
        entityId:
          type: integer
          format: int32
        signerName:
          type:
          - string
          - 'null'
        data:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        signatureDateTime:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    IncidentReport:
      type: object
      properties:
        id:
          type: integer
          format: int32
        href:
          type:
          - string
          - 'null'
          readOnly: true
        dateOfIncident:
          type:
          - string
          - 'null'
        dayOfWeek:
          type:
          - string
          - 'null'
        timeOfIncident:
          type:
          - string
          - 'null'
        durationIncident:
          type:
          - string
          - 'null'
        hospitalizationRequired:
          type:
          - string
          - 'null'
        policeInvolved:
          type:
          - string
          - 'null'
        severeAWOL:
          type:
          - string
          - 'null'
        personCompleting:
          type:
          - string
          - 'null'
        dateReportCompleted:
          type:
          - string
          - 'null'
          format: date-time
        namesStaffInvolved:
          type:
          - string
          - 'null'
        generalDescription:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        furtherAction:
          type:
          - string
          - 'null'
        notifiedDatetime:
          type:
          - string
          - 'null'
        criticality:
          type:
          - string
          - 'null'
        locationOfIncident:
          type:
          - string
          - 'null'
        typeOfIncident:
          type:
          - string
          - 'null'
        incidentTypeName:
          type:
          - string
          - 'null'
        clients:
          type:
          - string
          - 'null'
        notifiedBy:
          type:
          - string
          - 'null'
        notifiedTo:
          type:
          - string
          - 'null'
        othersNotified:
          type:
          - string
          - 'null'
        staff:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Signature'
        reviewer:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Signature'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: "JWT Authorization header using the Bearer scheme. \n\n Enter Bearer [space] and then\
        \ your token in the text input below.\n\nExample: Bearer 12345abcdef"
      name: Authorization
      in: header
servers:
- url: https://api.helloalleva.com
  description: Base URL reconciled from apis.yml
