openapi: 3.2.0
info:
  title: Alleva Rest Client Device API
  version: '1.0'
security:
- Bearer: []
tags:
- name: ClientDevice
paths:
  /client-devices:
    post:
      tags:
      - ClientDevice
      parameters:
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json; ver=1.0:
            schema:
              $ref: '#/components/schemas/ClientDevice'
          application/json; ver=1.0:
            schema:
              $ref: '#/components/schemas/ClientDevice'
          text/json; ver=1.0:
            schema:
              $ref: '#/components/schemas/ClientDevice'
          application/*+json; ver=1.0:
            schema:
              $ref: '#/components/schemas/ClientDevice'
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                $ref: '#/components/schemas/ClientDevice'
            application/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/ClientDevice'
            text/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/ClientDevice'
    get:
      tags:
      - ClientDevice
      parameters:
      - name: Limit
        in: query
        schema:
          type: integer
          format: int64
      - name: Cursor
        in: query
        schema:
          type: integer
          format: int32
      - name: StartDate
        in: query
        schema:
          type: string
          format: date-time
      - name: EndDate
        in: query
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        schema:
          type: array
          items:
            type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientDevice'
            application/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientDevice'
            text/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientDevice'
  /v{version}/client-devices:
    post:
      tags:
      - ClientDevice
      parameters:
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json; ver=1.0:
            schema:
              $ref: '#/components/schemas/ClientDevice'
          application/json; ver=1.0:
            schema:
              $ref: '#/components/schemas/ClientDevice'
          text/json; ver=1.0:
            schema:
              $ref: '#/components/schemas/ClientDevice'
          application/*+json; ver=1.0:
            schema:
              $ref: '#/components/schemas/ClientDevice'
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                $ref: '#/components/schemas/ClientDevice'
            application/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/ClientDevice'
            text/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/ClientDevice'
    get:
      tags:
      - ClientDevice
      parameters:
      - name: Limit
        in: query
        schema:
          type: integer
          format: int64
      - name: Cursor
        in: query
        schema:
          type: integer
          format: int32
      - name: StartDate
        in: query
        schema:
          type: string
          format: date-time
      - name: EndDate
        in: query
        schema:
          type: string
          format: date-time
      - name: fields
        in: query
        schema:
          type: array
          items:
            type: string
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientDevice'
            application/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientDevice'
            text/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientDevice'
  /client-devices/{id}:
    get:
      tags:
      - ClientDevice
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                $ref: '#/components/schemas/ClientDevice'
            application/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/ClientDevice'
            text/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/ClientDevice'
  /v{version}/client-devices/{id}:
    get:
      tags:
      - ClientDevice
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                $ref: '#/components/schemas/ClientDevice'
            application/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/ClientDevice'
            text/json; ver=1.0:
              schema:
                $ref: '#/components/schemas/ClientDevice'
components:
  schemas:
    ClientDevice:
      type: object
      properties:
        id:
          type: integer
          format: int32
        href:
          type:
          - string
          - 'null'
          readOnly: true
        clientId:
          type: integer
          format: int32
        deviceId:
          type:
          - string
          - 'null'
        deviceTypeId:
          type: integer
          format: int32
          writeOnly: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: "JWT Authorization header using the Bearer scheme. \n\n Enter Bearer [space] and then\
        \ your token in the text input below.\n\nExample: Bearer 12345abcdef"
      name: Authorization
      in: header
servers:
- url: https://api.helloalleva.com
  description: Base URL reconciled from apis.yml
