openapi: 3.2.0
info:
  title: Alleva Rest Master Codes API
  version: '1.0'
security:
- Bearer: []
tags:
- name: MasterCodes
paths:
  /master-codes/search:
    post:
      tags:
      - MasterCodes
      parameters:
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json; ver=1.0:
            schema:
              $ref: '#/components/schemas/MasterCodesSearch'
          application/json; ver=1.0:
            schema:
              $ref: '#/components/schemas/MasterCodesSearch'
          text/json; ver=1.0:
            schema:
              $ref: '#/components/schemas/MasterCodesSearch'
          application/*+json; ver=1.0:
            schema:
              $ref: '#/components/schemas/MasterCodesSearch'
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MasterCodesResponse'
            application/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MasterCodesResponse'
            text/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MasterCodesResponse'
  /v{version}/master-codes/search:
    post:
      tags:
      - MasterCodes
      parameters:
      - name: version
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        schema:
          type: string
      - name: X-Version
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json; ver=1.0:
            schema:
              $ref: '#/components/schemas/MasterCodesSearch'
          application/json; ver=1.0:
            schema:
              $ref: '#/components/schemas/MasterCodesSearch'
          text/json; ver=1.0:
            schema:
              $ref: '#/components/schemas/MasterCodesSearch'
          application/*+json; ver=1.0:
            schema:
              $ref: '#/components/schemas/MasterCodesSearch'
      responses:
        '200':
          description: Success
          content:
            text/plain; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MasterCodesResponse'
            application/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MasterCodesResponse'
            text/json; ver=1.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MasterCodesResponse'
components:
  schemas:
    MasterCodesSearch:
      type: object
      properties:
        category:
          type:
          - string
          - 'null'
      additionalProperties: false
    MasterCodesResponse:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: "JWT Authorization header using the Bearer scheme. \n\n Enter Bearer [space] and then\
        \ your token in the text input below.\n\nExample: Bearer 12345abcdef"
      name: Authorization
      in: header
servers:
- url: https://api.helloalleva.com
  description: Base URL reconciled from apis.yml
